.video-container {
  width: 100%;
  height: 100%;
}

:host {
  display: block;
  height: 100%;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* prevent scroll inside popup */
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-dialog .mat-mdc-dialog-surface {
  border-radius: 0 !important;
}
::ng-deep .mat-mdc-dialog-surface {
  border-radius: 0 !important;
}
