<app-header-rtih></app-header-rtih>

<app-inner-banner title="Careers" [subtext]="
    '<strong>Ratan Tata Innovation Hub</strong> is a flagship initiative that brings to life the Hon’ble Chief Minister ' +
    '<strong>Mr. N. Chandrababu Naidu’s</strong> visionary mission of One Family, One Entrepreneur.'
  " [showBreadcrumbs]="true">
</app-inner-banner>

<section class="programs">


  <!-- Content -->
  <main class="careers-card">
    <!-- <h2>
      Recruitment for the Positions of Manager Corporate Affairs, Manager Finance, Manager HR, Manager Labs and CoEs.
    </h2> -->

    <a class="btn btn-yellow" target="_blank" href="https://www.linkedin.com/company/rtih-ap/jobs/?viewAsMember=true/">Click here to view
      Advertisement</a>
    <!-- <a class="btn btn-yellow" target="_blank" href="https://www.linkedin.com/company/rtih-ap/jobs/?viewAsMember=true">Click here to Apply
      Online</a> -->
<h2 class="careers-heading">
      Click here to Apply Online below for Different Positions
    </h2>
<div class="card-container">


<div class="card">
  <h3 class="card-title">Event Associate - Incubation, Amaravati</h3>
  <p class="card-date">Last Date: 12 June 2026</p>

  <a href="https://skima.ai/jobs/event-associate-incubation/47d28296-44cf-43b2-a4e3-7972e640791d" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Job Description for Incubation event Associate, RTIH (1).pdf" target="_blank">
    <button class="apply-btn1">View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Manager - Incubation, Amaravati</h3>
  <p class="card-date">Last Date: 12 June 2026</p>

  <a href="https://skima.ai/jobs/manager-incubation/a47e0993-2270-41c1-ade1-57d1c9a1b338" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Manager - Incubation, Amaravati.pdf" target="_blank">
    <button class="apply-btn1">View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Head - APIC, Amaravati</h3>
  <p class="card-date">Last Date: 09 June 2026</p>

  <a href="https://skima.ai/jobs/head-advanced-prototype-innovation-centre-apic/1fcf6bed-c57a-4f0a-aa22-47d4d61747fe" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Head - APIC, Amaravati.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Manager - APIC, Amaravati</h3>
  <p class="card-date">Last Date: 09 June 2026</p>

  <a href="https://skima.ai/jobs/manager-advanced-prototype-innovation-centre-apic/274298ed-1049-4694-9a17-47b80efc7950" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Manager - APIC, Amaravati.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Head - Investments, Amaravati</h3>
  <p class="card-date">Last Date: 09 June 2026</p>

  <a href="https://skima.ai/jobs/head-investments/7f4c9336-14ff-474e-ab39-323553627282" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Head - Investments.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Manager – Branding & Communications</h3>
  <p class="card-date">Last Date: 09 June 2026</p>

  <a href="https://skima.ai/jobs/manager-branding-communications/cc64a8d3-c101-4ec0-8869-d7849bca04cd" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Manager - Branding & Communications.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

  <div class="card">
  <h3 class="card-title">Manager  - AI CoE, Visakhapatnam</h3>
  <p class="card-date">Last Date: 05 June 2026</p>

  <a href="https://skima.ai/jobs/manager-ai-coe-vishakhapatnam/77026c26-126a-4b82-9049-528644781fbd" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Job Description - Manager AI CoE, Vishakhapatnam.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Manager - Labs & Prototype, Amaravati</h3>
  <p class="card-date">Last Date: 29 May 2026</p>

  <a href="https://skima.ai/jobs/manager-labs-prototype/09e81ec9-4360-47b8-990d-6a0f03f926e9" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\JD-Manager Labs & Prototype, AMVT.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Head-AI Centre of Excellence, Amaravati</h3>
  <p class="card-date">Last Date: 29 May 2026</p>

  <a href="https://skima.ai/jobs/head-ai-centre-of-excellence-ai-coe/c8d3745d-27f4-4c9a-a8f9-f431b7640b16" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Job Description -RTIH  Head AI CoE Amaravati.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Head-AI Centre of Excellence, Visakhapatnam</h3>
  <p class="card-date">Last Date: 29 May 2026</p>

  <a href="https://skima.ai/jobs/head-ai-centre-of-excellence-vishakhapatnam/0e722598-9b2d-4578-bac1-b7dadd45117b" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\JD-Head AI COE, VSKP.pdf " target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

  

  <div class="card">
  <h3 class="card-title">Manager  - AI Incubation & Capacity Building, Amaravati</h3>
  <p class="card-date">Last Date: 28 May 2026</p>

  <a href="https://skima.ai/jobs/manager-ai-incubation-capacity-building/9d6340db-b43a-4b28-9664-1a0acf0a7b31" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Manager-AI Incubation & Capacity Building.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>

<div class="card">
  <h3 class="card-title">Head Partnerships, Rajahmundry</h3>
  <p class="card-date">Last Date: 28 May 2026</p>

  <a href="https://skima.ai/jobs/head-partnerships-rajahmundry/59a43cd7-f2e7-47dd-b751-a8e249e62e59" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets\Head_Partnerships_Rajahmundry.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>
  
<div class="card">
  <h3 class="card-title">CEO - RTIH Spoke</h3>
  <p class="card-date">Last Date: 02 May 2026</p>

  <a href="https://skima.ai/jobs/ceo-rtih-spoke/7c706ff7-9cee-4759-9286-258e363b1041" target="_blank">
    <button class="apply-btn" disabled>Apply Now</button>
  </a>

  <a href="assets/JD - CEO_RTIH_Spoke.pdf" target="_blank">
    <button class="apply-btn1" >View Advertisement</button>
  </a>
</div>


<div class="card">
    <h3 class="card-title">Head Incubation (Anantapur)</h3>
    <p class="card-date">Last Date: 02 May 2026</p>

    <a href="https://skima.ai/jobs/head-incubation/4da7753a-b02c-403e-8568-1fc66a49c61f" target="_blank">
      <button class="apply-btn" disabled>Apply Now</button>
    </a>

    <a href="assets\Head - Incubation (Anantapuram).pdf" target="_blank">
      <button class="apply-btn1" >View Advertisement</button>
    </a>
  </div>

  <div class="card">
    <h3 class="card-title">Manager - Corporate Innovation Challenge</h3>
    <p class="card-date">Last Date: 02 May 2026</p>

    <a href="https://skima.ai/jobs/manager-corporate-innovation-challange/7dcf1681-aad6-43fb-9d01-1d57c2bcb895" target="_blank">
      <button class="apply-btn" disabled>Apply Now</button>
    </a>

    <a href="assets\Job Description - Manager - Corporate Innovation Challenge.pdf" target="_blank">
      <button class="apply-btn1" >View Advertisement</button>
    </a>
  </div>

  <div class="card">
    <h3 class="card-title">Manager - IT</h3>
    <p class="card-date">Last Date: 02 May 2026</p>

    <a href="https://skima.ai/jobs/manager-it/eab40b16-7e9d-40e6-9872-049e1aa1bc1d" target="_blank">
      <button class="apply-btn" disabled>Apply Now</button>
    </a>

    <a href="assets\Manager-IT.pdf" target="_blank">
      <button class="apply-btn1" >View Advertisement</button>
    </a>
  </div>

  <div class="card">
    <h3 class="card-title">Head Incubation (Visakhapatnam)</h3>
    <p class="card-date">Last Date: 02 May 2026</p>

    <a href="https://skima.ai/jobs/head-incubation-visakhapatnam/4d936238-66af-4c46-896b-a39cc2b51a70" target="_blank">
      <button class="apply-btn" disabled>Apply Now</button>
    </a>

    <a href="assets\Head - Incubation (Vishakapatnam).pdf" target="_blank">
      <button class="apply-btn1" >View Advertisement</button>
    </a>
  </div>




  <div class="card" >
    <h3 class="card-title">Manager - Corporate Affairs</h3>
    <p class="card-date" >Last Date: 20 Feb 2026</p>
<a href="https://skima.ai/jobs/manager-corporate-affairs/ab6c215c-cdb1-4a37-8c7c-8650378d20d8?utm_medium=online&utm_source=linkedin&utm_campaign=89946" target="_blank">
  <button class="apply-btn" disabled>Apply Now</button>
</a>
<a href="assets/rtih-manager-corporate-affairs-job-description-13Feb26.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  
</div>

<div class="card">
    <h3 class="card-title">CEO RTIH Rajahmundry</h3>
    <p class="card-date">Last Date: 09 Jan 26</p>
<a href="https://rtih.skima.ai/f74b2dd6-2b22-488f-a980-a10d31fa5602" target="_blank">
  <button class="apply-btn" disabled>Apply Now</button>
</a>
<a href="assets/jd-chief-executive-officer-rtih-rjy.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  </div>
  <div class="card">
    <h3 class="card-title">Head Incubation, RTIH Tirupati</h3>
    <p class="card-date">Last Date: 09 Jan 26</p>
<a href="https://rtih.skima.ai/ccd70f33-7e92-479f-b31f-873ac1b2942f" target="_blank">
  <button class="apply-btn" disabled>Apply Now</button>
</a>
<a href="assets/jd-head-incubation-tirupati-v1.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  
</div>


    <div class="card">
    <h3 class="card-title">Manager Labs and CoEs</h3>
    <p class="card-date">Last Date: 08 Jan 26</p>
<a href="https://rtih.skima.ai/3d12e512-b25d-44e9-86ef-c757890bdae3" target="_blank">
  <button class="apply-btn" disabled>Apply Now</button>
</a>
<a href="assets/rtih-mgr-labs-jd.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  </div>

  <div class="card">
    <h3 class="card-title">Manager Human Resource</h3>
    <p class="card-date">Last Date: 07 Jan 26</p>
<a href="https://rtih.skima.ai/223a9110-423f-428b-bef9-608fb2e85281" target="_blank">
  <button class="apply-btn" disabled>Apply Now</button>
</a>
<a href="assets/rtih-letterhead-manager-hr.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  </div>

   <div class="card">
    <h3 class="card-title">Manager<br> Finance</h3>
    <p class="card-date">Last Date: 07 Jan 26</p>
<a href="https://rtih.skima.ai/188cfc76-2d26-4ff8-aae7-a8e43d950ca2" target="_blank">
  <button class="apply-btn" disabled>Apply Now</button>
</a>
<a href="assets/rtih-recruitment-post-manager-finance.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  </div>

      
  <div class="card">
    <h3 class="card-title">Manager Corporate Affairs</h3>
    <p class="card-date">Last Date: 04 Jan 26</p>
<a href="https://rtih.skima.ai/a1b38a60-e6d5-4e6d-952b-1eda22daca55" target="_blank">
  <button class="apply-btn" disabled >Apply Now</button>
</a>
<a href="assets/rtih-manager-corporate-affairs-job-description.pdf" target="_blank">
  <button class="apply-btn1" >View Advertisement</button>
</a>
  </div>


</div>


<!-- <h3>
      Manager Grassroots Innovations: 05 Dec 25
    </h3>

    <a class="btn btn-yellow" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScFZSlUAmNKtMQAGOfAMWKK8wvSpaU4F1Jv9yLjRJtskmEBvg/viewform/">Apply Now</a> &nbsp; &nbsp; -->
      <!-- <div class="loc-p">
      <span class="location">Location: Amaravati</span>  &nbsp; &nbsp;
      <span class="location">Last Date: 09-01-2026</span>
</div> -->


  </main>



</section>


<app-footer-rtih></app-footer-rtih>
