<footer class="rti-footer" id="rtih-contact">
  <div class="rti-footer__top">
    <!-- Brand & contact -->
    <div class="col col--brand">
      <img class="brand-logo" src="assets/logo-white.svg" alt="Ratan Tata Innovation Hub">

      <p class="desc">
        Andhra Pradesh's premier innovation hub, fostering entrepreneurship and technology development across
        the state through our hub-and-spoke model.
      </p>

      <ul class="contact">
        <li>
          <img src="assets/icons/location.svg" alt="" class="ico">
          <span>4th Floor, Mayuri tech park, Mangalagiri, Guntur<br>Andhra Pradesh <strong>522503</strong></span>
        </li>
        <li>
          <!-- <img src="assets/icons/contact.svg" alt="" class="ico"> -->
          <!-- <a href="tel:+917396852244">+91 73968 52244</a> -->
          <!-- <a href="tel:+917396752244">+91 7396752244</a>
          <a href="tel:+917396852244">+91 7396852244</a> -->

        </li>
        <li>
          <img src="assets/icons/email.svg" alt="" class="ico">
          <a href="mailto:connect@rtih.co.in">
            connect@rtih.co.in <br> 
            <!-- rtihamaravati@gmail.com -->
          </a>
        </li>
        <li>
          <img src="assets/icons/timings.svg" alt="" class="ico">
          <span>Available on Monday to Friday <strong>10:30 am -5:30 pm</strong> <br>(except public holidays)</span>
        </li>
      </ul>

      <ul class="social">
        <li><a href="https://www.facebook.com/share/1DYH9dGWJT/" target="_blank"><img src="assets/icons/fb.svg" alt="Facebook"></a></li>
        <li><a href="https://x.com/RTIH_AP?t=lIRZNQfSwwl47PH0Kdd2Kg&s=08" target="_blank"><img src="assets/icons/tw.svg" alt="Twitter/X"></a></li>
        <li><a href="https://www.instagram.com/rtih_ap/?igsh=NXE4bnVuZzRncjBj#" target="_blank"><img src="assets/icons/insta.svg" alt="Instagram"></a></li>
        <!-- <li><a href="#" target="_blank"><img src="assets/icons/yb.svg" alt="YouTube"></a></li> -->
        <li><a href="https://www.linkedin.com/company/rtih-ap" target="_blank"><img src="assets/icons/linked-in.svg" alt="YouTube"></a></li>
      </ul>

    </div>

    <!-- Quick links -->
    <div class="col">
      <h3>Quick Links</h3>
      <ul class="links">
        <li><a routerLink="/about">About RTIH</a></li>
        <li><a routerLink="/programs">Programs</a></li>
        <li><a href="https://apis.ap.gov.in/#/home/login/" target="_blank" rel="noopener">AP Start-Up Portal</a></li>
        <li><a routerLink="/resources">Resources</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/careers">Careers</a></li>
      </ul>
    </div>

    <!-- Support -->
    <div class="col">
      <h3>Support &amp; Services</h3>
      <ul class="links">
        <li><a routerLink="/contact">Contact Support</a></li>
        <li><a routerLink="/grievances">Feedback &amp; Grievances</a></li>
        <li><a routerLink="/faqs">FAQs</a></li>
      </ul>
    </div>

    <!-- Subscribe -->
    <div class="col col--cta">
      <h3>Stay Updated</h3>
      <p>Subscribe to our newsletter for the latest updates on programs, events, and opportunities.</p>

      <!-- <mat-form-field appearance="outline" class="email-field">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" />
      </mat-form-field> -->

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSf638cCZ_3ul_7zy78LW50k1vsSOs3W-pzOhTIf2SqTUwfUew/viewform?usp=dialog" target="blank" mat-flat-button color="warn" class="btn-apply">Subscribe</a>
      <!-- <button mat-flat-button color="warn" class="btn-apply" routerLink="/apply">Apply Now</button> -->
    </div>
  </div>

  <!-- Bottom bar -->
  <div class="rti-footer__bottom">
    <div class="legal">
      <span>© 2025 Government of Andhra Pradesh. All rights reserved.</span>
      <nav class="legal-links">
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/terms">Terms of Service</a>
        <a routerLink="/rti">RTI</a>
      </nav>
    </div>

    <div class="credits">
      <span>Designed and Developed by</span>
      <img src="assets/rtgs-logo.png" alt="Real Time Governance" class="rtgs-logo">
    </div>
  </div>
</footer>
